:root{
    --canvasBackround:#0d1117;
}

body{
    background-color :white;
    margin :0px
}

#canvasDiv{
    position: relative;
}

#canvas01{
    position: absolute;
    top: 0px;
}

 #selectDiv{
   position: absolute;
   top: 10px;
   left: 10px;
 }

#selectDiv label {
    font-size: large;
    color: #c9d1d9;
}

select {
    background-color: var(--canvasBackround);
    font-size: medium;
    color: #c9d1d9;
}