:root{
    --canvasBackround:rgb(16, 24, 32);
}

body{
    background-color :white;
    margin :0px
}

#canvasDiv{
    position: relative;
}

#canvas01{
    position: absolute;
    top: 0px;
}

 #selectDiv{
   position: absolute;
   top: 10px;
   left: 10px;
 }

#selectDiv label {
    font-size: large;
    color: #F2BB9B;
}

select {
    background-color: var(--canvasBackround);
    font-size: medium;
    color: #F2BB9B;
}

#footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
